* {
	color: var(--white);
}

body {
	background-color: var(--black);
	color: var(--white);
}

button {
	background-color: var(--black);
	border: 2px solid var(--white);
	color: var(--white);
}
button:hover {
	background-color: var(--white);
	color: var(--black);
}

select {
	color: var(--white);
	border-color: var(--white);
}

.whitekey, .blackkey {
	background-color: #fff0;
	border: 2px solid var(--white);

	color: var(--white);
}

.blackkey {
	background-color: var(--white);
	color: var(--black);
}

.whitekey:hover, .blackkey:hover {
	background-color: var(--blue);
	color: var(--black);
	border-color: var(--blue);
}

.keyboard {
	box-shadow: 0 0 10px var(--white);
}
.keyboard:hover {
	box-shadow: 0 0 10px var(--blue);
}

.icon {
	filter: invert(1);
}
button .icon-little {
	filter: invert(1);
}
button:hover .icon-little {
	filter: invert(0);
}
