:root {
	--white: #ddd;
	--black: #124;
	--blue: #aaf;
}

::selection {
	background-color: var(--blue);
	color: var(--black);
}

@font-face {
	font-family: 'classic';
	src: url('../bin/fonts/classic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "classic";

	transition: all 0.2s ease-in-out;
	color: var(--black);

	background-color: #fff0;
}

header {
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center; 
	justify-content: space-between; 
}

body {
	background-color: #fff;
	margin: 0;
	padding-top: 64px;
	padding-bottom: 64px;
	padding-left: 22%;
	padding-right: 22%;
}

h1 {
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;

	font-size: 50px;
	font-weight: bolder;
}
h2 {
	margin: 0;
	padding: 16px;

	font-weight: bold;
}
p {
	margin: 0;
	padding: 64px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.formula {
	font-style: italic !important;
	color: var(--blue);
	text-align: center;
}
.comment {
	color: var(--white);
}

button,
.keyboard{
	text-decoration: none;
	cursor: pointer;

	margin: 4px 2px;
	padding: 8px 16px;

	border: 2px solid #fff0;
	border-radius: 100px;

	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);

	text-align: center;

	display: inline-block;

	font-size: 16px;
}

select,
.keyboard {
	background-color: #fff0;
	color: var(--black);
}

.keyboard {
	border: 2px solid #fff0;
	border-radius: 5px;
}

.keyboard:hover {
	box-shadow: 0 0 4px 2px var(--blue);
}

button:hover {
	background-color: var(--black);
	color: var(--white);

	border: 2px solid #fff0;
}

.b_remove {
	background-color: #fff0;
	color: var(--black);
}

.b_remove:hover {
	background-color: #f02 !important;
	color: #fff !important;
}

#keyboards {
	display: grid;
	grid-template-column: 1fr;
	grid-gap: 16px;
	margin: 0; 
}

.whitekey, .blackkey {
	border-radius: 5px;
}
.whitekey:hover {
	background-color: var(--blue);
	color: var(--black);
}

.whitekey {
	height: 75px;
}

.blackkey {
	background-color: var(--black);
	color: var(--white);

	height: 50px;
}
.blackkey:hover {
	background-color: var(--blue);
	color: var(--black);
}

select {
	text-decoration: none;
	cursor: pointer;

	border: none;

	border-bottom: 1px solid black;
	border-radius: 0;

	margin-bottom: 10px;

	background-color: #fff0;
	font-size: 16px;
	padding: 5px;
}

select:hover {
	background-color: #0002;
}

.icon {    
	border-radius: 0;
	border: none;

	color: black;

	width: 40px;
	height: 40px;
}

.icon-little {
	width: 12px;
	height: 12px;
}

.b_remove .icon-little {
	width: 11px;
	height: 11px;
}

#keys {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 8px;
	margin: 0;
}

.keyb_contr {
	display: grid;
	grid-template-columns: 15fr 1fr;
	grid-gap: 8px;
	margin: 0;
	padding: 0;

	width: 100%;
}

.controller {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button .icon-little {
	filter: invert(0);

	padding: 0;
}
button:hover .icon-little {
	filter: invert(1);
}
